{{> header }}

<div class="container">
    <h3>&lt;c-add-to-cart-button id="1"&gt;&lt;/c-add-to-cart-button&gt;</h3>
    <c-add-to-cart-button product-id="1"></c-add-to-cart-button>
    <script src="/c/js/add-to-cart-button.js" async></script>

    <h3>&lt;c-delete-cart-button id="1"&gt;&lt;/c-delete-cart-button&gt;</h3>
    <c-delete-cart-button product-id="1"></c-delete-cart-button>
    <script src="/c/js/delete-cart-button.js" async></script>

    <h3>&lt;c-shopping-cart&gt;&lt;/c-shopping-cart&gt;</h3>
    <c-shopping-cart></c-shopping-cart>
    <script src="/c/js/shopping-cart.js" async></script>
</div>

{{> footer }}