{{> header }}

<div class="container">
    <h3>c-add-to-cart-button:</h3>
    <c-add-to-cart-button id="1"></c-add-to-cart-button>
    <script src="/c/js/add-to-cart-button.js" async></script>
</div>

{{> footer }}